<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Usuarios | Messenger.io</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<div id="app">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/">Messenger.io</a>

				<div class="navbar-inner ml-auto">
					<a class="btn btn-primary" href="/">Regresar a la sala</a>
					<div class="user-profile ml-3"> 
						<div class="image-profile">
							<img :src="current.profile" :alt="current.name" />
						</div>
						<div class="dropdown">
							<button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								${ current.name } ${ current.lastname }
							</button>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="/logout">Cerrar sesión</a>
							</div>
						</div>
					</div>
				</div>
			</nav>

			<div class="container mt-4">
				<div class="row">
					<div class="col-12">
						<h2>Usuarios <small>- <a href="http://api.messenger.io/v1/users/pdf">Descargar PDF</a></small></h2>
					</div>
					<div class="col-12">
						<div class="message-response">
							<p>{{ message }}</p>
						</div>
						<table class="table table-hover">
							<thead class="thead-light">
								<tr>
									<th scope="col">#</th>
									<th scope="col">Nombre</th>
									<th scope="col">Apellido</th>
									<th scope="col">Imagen</th>
									<th>Opciones</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="user in users"
									v-bind:key="user.id"
									v-if="user.elogic == 0">
									<th scope="row">${ user.id }</th>
									<td>${ user.name }</td>
									<td>${ user.lastname }</td>
									<td><img :src="user.profile" width="60"></td>
									<td><a class="btn btn-info" :href="'/edit/' + user.id">Editar</a> | <a class="btn btn-danger" :href="'/user/remove/' + user.id">Borrar</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<script src="/socket.io/socket.io.js"></script>
		<script src="https://unpkg.com/vue"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
		<script src="/js/users.js"></script>
	</body>
</html>